{% extends 'back.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body_back %}

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>/home/stagiaire/Bureau/TP-DWWM-Hichem/DWWM/Module_7_Symfony/Jour11-tp/src/Controller/DashboardController.php</code></li>
            <li>Your template at <code>/home/stagiaire/Bureau/TP-DWWM-Hichem/DWWM/Module_7_Symfony/Jour11-tp/templates/dashboard/index.html.twig</code></li>
        </ul>
    </div>

{% endblock %}