{% extends "front.html.twig" %}
{# Appeler une fichier qui s'appelle front.html.twig qui contient le header et le footer de la notre page web #}

{# Le contenu de ma page #}
{% block contenu_page %}

    <h1>Votre Panier</h1>

    <table class="table table-striped align-middle text-center">
        <thead>
            <tr>
                <th>#id</th>
                <th>nom</th>
                <th>prix</th>
                <th>action</th>
            </tr>    
        </thead>
        <tbody>
            {% for panier in paniers %}
                <tr>
                    <td>{{panier.id}}</td>
                    <td>{{panier.nom}}</td>
                    <td>{{panier.prix}}</td>
                    <td> <a href="" class="btn btn-info">Modifier</a> </td>
                </tr> 
            {% endfor %}
        </tbody>
    <table>

{% endblock %}