{% extends "front.html.twig" %}

{% block contenu_page %}
    <h1>Mention légale</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea necessitatibus ut iure quia hic pariatur maxime cum explicabo exercitationem beatae voluptas eligendi, fugit sint fugiat, tenetur ad ullam debitis ab ipsum, incidunt optio illum. Velit sapiente est saepe necessitatibus autem. Iusto earum, corporis sed incidunt deserunt quasi harum dolore tempora!</p>
    <h3>Article 1</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel explicabo ratione velit minus accusantium et in vitae, non aut, dolor perferendis odio sapiente hic qui laudantium commodi nobis aperiam rem iure? Deleniti dignissimos officiis, iusto iste voluptatum reiciendis quisquam id fugiat omnis corrupti reprehenderit, minima tenetur eius culpa nihil commodi.</p>
    <h3>Article 2</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel explicabo ratione velit minus accusantium et in vitae, non aut, dolor perferendis odio sapiente hic qui laudantium commodi nobis aperiam rem iure? Deleniti dignissimos officiis, iusto iste voluptatum reiciendis quisquam id fugiat omnis corrupti reprehenderit, minima tenetur eius culpa nihil commodi.</p>
    <h3>Article 3</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel explicabo ratione velit minus accusantium et in vitae, non aut, dolor perferendis odio sapiente hic qui laudantium commodi nobis aperiam rem iure? Deleniti dignissimos officiis, iusto iste voluptatum reiciendis quisquam id fugiat omnis corrupti reprehenderit, minima tenetur eius culpa nihil commodi.</p>
    <h3>Article 4</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel explicabo ratione velit minus accusantium et in vitae, non aut, dolor perferendis odio sapiente hic qui laudantium commodi nobis aperiam rem iure? Deleniti dignissimos officiis, iusto iste voluptatum reiciendis quisquam id fugiat omnis corrupti reprehenderit, minima tenetur eius culpa nihil commodi.</p>
    <h3>Article 5</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel explicabo ratione velit minus accusantium et in vitae, non aut, dolor perferendis odio sapiente hic qui laudantium commodi nobis aperiam rem iure? Deleniti dignissimos officiis, iusto iste voluptatum reiciendis quisquam id fugiat omnis corrupti reprehenderit, minima tenetur eius culpa nihil commodi.</p>
    <h3>Article 6</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel explicabo ratione velit minus accusantium et in vitae, non aut, dolor perferendis odio sapiente hic qui laudantium commodi nobis aperiam rem iure? Deleniti dignissimos officiis, iusto iste voluptatum reiciendis quisquam id fugiat omnis corrupti reprehenderit, minima tenetur eius culpa nihil commodi.</p>
{% endblock %}