{% extends "front.html.twig" %}

{% block contenu_page %}
    <h1>Présentation</h1>
    <div class="row d-flex justify-content-around ">
        <div class="card col-4 p-2 w-25">
            <div class="card-body">
                <h5 class="card-title">Hichem</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Développeur</h6>
                <p class="card-text">Titre professionnel DWWM</p>
            </div>
        </div>
        <div class="card col-4 p-2 w-25">
            <div class="card-body">
                <h5 class="card-title">Nada</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Développeuse</h6>
                <p class="card-text">Titre professionnel DWWM</p>
            </div>
        </div>
        <div class="card col-4 p-2 w-25">
            <div class="card-body">
                <h5 class="card-title">Sanjay</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Développeur</h6>
                <p class="card-text">Titre professionnel DWWM</p>
            </div>
        </div>
    </div>
{% endblock %}