<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exo</title>
</head>
<body>
    <h1>Je suis la page d'exo</h1>
    <p>Je viens de créer une page de vue via Twig dans Symfony</p>
</body>
</html>